:root {
    --color-primary: #EF5021;
    --color-secondary: #00295E;
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.resend-otp {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: .875rem;
    justify-content: space-between;
}

.countdown-warp {
    letter-spacing: -.3px;
}

#count__down {
    display: inline-block;
    text-align: center;
}

#resend-sms {
    transition: all .15s ease-in-out;
    margin-right: 15px;
}

#resend-sms.disabled-resend {
    color: #8f8f8f;
    cursor: default;
}

#resend-sms.enable-resend {
    color: var(--color-secondary);
    cursor: pointer;
}

.loading-icon {
    width: 18px;
    height: 18px;
    display: none;
    float: left;
    border: solid 1px var(--color-secondary);
    border-radius: 50%;
    border-bottom-color: transparent;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.woocommerce-LostPassword.lost_password {
    margin: 0;
}

.woocommerce-LostPassword.lost_password a {
    color: var(--color-secondary);
    transition: all .15s ease-in-out;
}

#login-by-password {
    float: left;
}

#login-by-otp, #login-by-password {
    border-bottom: 1px dashed;
    font-size: .875rem;
}

/*-----------------------------------------------------------
WOOCOMMERCE
*/
.woocommerce .blockUI.blockOverlay {
    position: relative;
}

.woocommerce .blockUI.blockOverlay::before {
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -0.5em;
    margin-top: -0.5em;
    content: '';
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: url("../images/ajax-loader.svg") center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.mrgn-form-login.blockUI.blockOverlay::after {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ffffffa1;
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
}